<configuration>
  <appSettings>
    <!-- URL for server that supplies servers to puch data to -->
    <!-- <add key="serverpollurl" value="https://liveresultat.orientering.se/configs/getConnectionSettings.php"/> -->
    <!-- Key to get server connection data -->
    <!-- <add key="serverpollkey" value="liveemmaclient"/> -->
    <!-- OR, add server(s) manually. Format: host;user;pw;db -->
    <!-- <add key="emmaServer1" value="obasen.nu;liveresultat;web;liveresultat"/> -->
    <!-- <add key="emmaServer2" value="54.247.102.48;liveresultat;web;liveresultat"/> -->
    <add key="emmaserver1" value="localhost;root;Orienteering;liveresults"/>
    <!-- enable/disable logging db updates to log file on desktop - Used only for debugging -->
    <add key="logdbupdates" value="false" />
    <!-- bypass the new competition form and launch the IOFXML import form directly -->
    <add key="iofxmlimport" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>