/*------------------------------*/
/* --- GENERAL TAGS CLASSES --- */
/*------------------------------*/

body {background-color: #ffffff; font-family: arial, helvetica, verdana, geneva, sans-serif;}

a.navbar-brand img {
  width: 14vw;
  max-width: 200px;
  min-width: 120px;
  height: auto;
  aspect-ratio: 10 / 3;
}

